<div class="column">
  <h2>Our core values</h2>
  <p>
	  We create <b>educational</b> and <b>therapeutic games</b>, <b>devices</b> to measure the breathe and <b>distributed data systems</b> to inform public health practices, and policies.
	  We create a commons – collectively managed resources that are freely accessible and can be used and enriched by everyone – by spurring <b>collaboration</b> between people affected,
	  caregivers and passionate professionals to build on the <b>collective intelligence.</b>
  </p>
</div>
